header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

main{
    width: 940px;
    margin: 0 auto;
}

footer{
    text-align: center;
    background: #000000;
    padding: 40px;
}

.encab{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

#canvas {
    border: 1px solid black;
}